.carouselItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: green;
    color: #fff;
}

.carousel {
    overflow: hidden;
}

.moveable {
    white-space: nowrap;
    transition: trasform 0.3s;
}